body{
    margin: 0;
    padding: 0;
}
header
{
    padding: 15px 0;
    background-color: whitesmoke;
}
.header-content
{
    display: flex;
    flex-direction: row;
    border: 0px solid green;
    justify-content: center;
    font-family:'Josefin Sans', sans-serif;
    align-items: center;
    width: 20%;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0.5px black;
}
.Employee
{
    color: #82a70c;
}
.main-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    min-height: calc(40vh - 100px);
}
.export
{
    margin-left: 10%;
}
.employee-details
{
    font: normal normal 900 24px/25px 'Josefin Sans';
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}
.emp-count
{
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}
.add-button
{
    font: normal normal normal 22px/29px 'Josefin Sans';
    font-weight: 900;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #82a70c 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.export-button
{
    font: normal normal normal 22px/29px 'Josefin Sans';
    font-weight: 900;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #29abe3 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;   
    position: relative;
}

.table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 80%;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 8px;
    margin-left: 10%;
}

td, th {
    text-align: left;
    padding: 5px 8px;
}

th {
    background: #42515f 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    font-size: medium;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid #dddddd;
}

.details {
    background: whitesmoke 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    font-size: medium;
}

.profile {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}

.dept-label {
    background-color: #def691;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}
.exportPopup{
    width: 10%;
    padding: 15px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #ecebeb;
    border-radius: 8px;
    box-shadow: 0px 5px 6px #00000029;
    opacity: 1;
    position: absolute;
}
.exportPopup a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-weight: 1000;
    cursor: pointer;
}
.editPopup
{
    width:55%;
    padding: 40px 60px;
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: fixed;
    bottom: 10vh;
    right: 25vw;
}
.editPopup input{
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    resize: vertical; 
    font: normal normal normal 15px/25px 'Josefin Sans';
}

@media screen and (max-width:960px){
    .header-content{
        width: 35%;
    }
}
@media screen and (max-width:480px){
    .header-content{
        width: 50%;
    }
    .main-content
    {
        width: 100%;
    }
}