<html>

<body>
    <div ng-controller="dashboardCtrl as emps" ng-init="getAllEmp()">
        <div>
            <header>
                <div class="header-content">
                    <img src="../../Image/logo.png">
                    <div>
                        <h3 class="Employee">Employee</h3>
                        <h3 class="Payroll">Payroll</h3>
                    </div>
                </div>
            </header>
            <div class="main-content">
                <div class="employee-details">Employee Details
                </div>
                <a class="add-button" href="#!Form" textDecoration="none">Add User</a>
            </div>
            <div class="export" ng-click="setView()">
                <button class="export-button" textDecoration="none">Export Data</button>
                <div class="exportPopup" ng-show="exportView.includes(1)">
                    <a textDecoration="none" ng-click="export()">As Excel <img src="../../Image/excel.png" width="25px" , height="25px" /></a>
                    <a textDecoration="none" ng-click="exportPdf()">As PDF <img src="../../Image/pdf.png" width="25px" , height="25px" /></a>
                    <a textDecoration="none" ng-click="exportDoc()">As Word <img src="../../Image/word.png" width="25px" , height="25px" /></a>
                </div>
            </div>
            <table id="table-display" class="table">
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>Actions</th>
                <tr ng-repeat="emp in emps">
                    <td>{{emp.name}}</td>
                    <td>
                        <div class="dept-label">{{emp.dept}}</div>
                    </td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.startdate}}</td>
                    <td>
                        <img id="1" alt="delete" src="../../Image/delete.svg" ng-click="remove(emp.id)">
                        <img id="1" alt="edit" src="../../Image/create.svg"
                            ng-click="edit(emp.id, emp.name, emp.dept, emp.salary, emp.startdate)">
                    </td>
                </tr>
            </table>
        </div>
        <form class="editPopup" ng-show="editView.includes(1)">
            <div class="row-content">
                <label class="name">Name</label>
                <input class="name" ng-model="name" type="text" placeholder="Type Name" required>
            </div>
            <div class="row-content">
                <label class="name" for="department">Department</label>
                <input class="dept" type="text" ng-model="dept" placeholder="Type Department" required>
            </div>
            <div class="row-content">
                <label class="name" for="salary">Salary</label>
                <input class="salary" type="number" ng-model="salary" placeholder="Type Salary" required>
            </div>
            <div class="row-content">
                <label class="name" for="startDate">Start Date</label>
                <input class="startdate" type="text" ng-model="startdate" placeholder="Type Start Date" required>
            </div>
            <div class="row-content">
                <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
                <button class="submit" ng-click="update(name, dept, salary, startdate)">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>