*
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: whitesmoke;
}
.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    font-family:'Josefin Sans', sans-serif;
    align-items: center;
    width: 18%;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0.5px black;
}
.Employee
{
    color: #82a70c;
}
*{
    box-sizing: border-box;
}
.form-content
{
    min-height:calc(80%-80px);
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form
{
    width:65%;
    padding: 40px 60px;
    background: white 0% 0% no-repeat padding-box;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.form-head
{
    font: normal normal 900 24px/37px 'Josefin Sans';
    letter-spacing: 0px;
    color:#42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 15px;
}
.row-content 
{
    display: flex; 
    flex-direction: row;
    margin-bottom: 20px; 
    align-items: center; 
    border: 0px solid green; 
}
.name
{
    min-width: 140px; 
}
label 
{
    padding: 12px 12px 12px 0;
    display: inline-block; 
}
.idinput
{
    width: 80%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    resize: vertical; 
    font: normal normal normal 15px/25px 'Josefin Sans';
}
.idinput:hover
{
    border: 2px solid rgb(0, 0, 0);
}
.nameinput:hover
{
    border: 2px solid rgb(0, 0, 0);
}
.nameinput
{
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    resize: vertical; 
    font: normal normal normal 15px/25px 'Josefin Sans';
}
.name
{
    font: normal normal 900 18px/28px 'Josefin Sans';
}
.image:hover
{
    transform: scale(1.1);
}
.radio-text, .text
{
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.range
{
    width: 100%;
}
.salary
{
    padding: 10px;
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.date-select
{
    display: flex;
    flex-direction: row;
    font: normal normal 900 18px/28px 'Josefin Sans';
}
.date-error
{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}
.salary-output
{
    font: normal normal 900 15px/25px 'Josefin Sans';
    padding: 10px;
}
select 
{
    padding: 12px; 
    border: 1px solid #CCC;
    border-radius: 4px; 
    resize: vertical;
    letter-spacing: 0px; 
    color: #42515f; 
    background-color: transparent; 
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.note
{
    width: 100%;
    border-radius: 4px;
}

.submit 
{
  
    margin-left: 140px;
    text-decoration: none; 
    text-align: center;
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 12px;
    width: 33%;
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.cancel
{
    margin-left: 140px;
    text-decoration: none; 
    text-align: center;
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 12px;
    width: 33%;
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.reset
{
    margin-left: 140px;
    text-decoration: none; 
    text-align: center;
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 12px;
    width: 33%;
    font: normal normal 900 15px/25px 'Josefin Sans';
}
.submit:hover
{
    background-color: #82a70c;
}
.cancel:hover
{
    background-color: rgb(251, 126, 126);
}
.reset:hover{
    background-color: aquamarine;
}

@media screen and (max-width:960px){
    .header-content
    {
        width: 50%;
    }
    .form
    {
        width:90%;
        padding: 15px 20px;
    }
    .profile
    {
        flex-flow: wrap;
    }
    .salary
    {
        display: flex; 
        flex-direction: row;
    }
    .salary-output
    {
        font-size: small;
    }
    .row-content
    {
        font-size: smaller;
        flex-flow: wrap;
    }
    label 
    {
        padding: 8px 8px 8px 0;
        display: inline-block; 
    }
    .button
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .cancel, .submit, .reset
    {
        margin: 10px;
    }
}

@media screen and (max-width:480px){
    body 
    {
        margin: 0;
        height: 100%;
        background: rgb(209, 209, 209);
        width: 125%;
    }
    .form 
    {
        width: 100%;
        padding: 60px 70px;
    }
    .header-content
    {
        width: 50%;
    }
}
