<html lang="en">

<body>
    <div ng-controller="formCtrl">
        <header>
            <div class="header-content">
                <img src="../../Image/logo.png">
                <div>
                    <h3 class="Employee">Employee</h3>
                    <h3 class="Payroll">Payroll</h3>
                </div>
            </div>
        </header>
        <div id="formid" class="form-content">
            <form class="form">
                <div class="form-head">Employee Payroll Form</div>
                <div class="row-content">
                    <label class="name">Name</label>
                    <input class="nameinput" type="text" ng-model="name" placeholder="Type Name" required>
                </div>
                <div class="row-content">
                    <label class="name" for="department">Department</label>
                    <input class="nameinput" type="text" ng-model="dept" placeholder="Type Department" required>
                </div>
                <div class="row-content">
                    <label class="name" for="salary">Salary</label>
                    <input class="nameinput" type="number" ng-model="salary" placeholder="Type Salary" required>
                </div>
                <div class="row-content">
                    <label class="name" for="startDate">Start Date</label>
                    <input class="nameinput" type="text" ng-model="startdate" placeholder="Type Start Date" required>
                </div>
                <div class="row-content">
                    <button class="cancel" ng-click="cancel()">Cancel</button>
                    <button class="submit"  ng-click="save(name, dept, salary, startdate)">Submit</button>
                    <button type="reset" class="reset" >Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>