<body>
    <div ng-controller="signupCtrl">
        <div class="main">
            <div class="form">
                <div class="logo">
                    <img src="../../Image/Google.png" width="120px", height="80px" />
                    <h2>Create your Google Account</h2>
                    <h4>to continue to Gmail</h4>
                </div>
                <div class="name">
                    <input type="text" ng-model="fullName" placeholder="First Name"/>
                </div>
                <div class="email">
                    <input type="email" ng-model="email" placeholder="Email" />
                    <h6>You can use letters, numbers & periods</h6>
                </div>
                <div class="email">
                    <input type="number" ng-model="phone" placeholder="Phone Number" />
                </div>
                <div class="pass">
                    <input type="password" ng-model="password" placeholder="Password"/>
                    <h6>Use 8 or more characters with a mix of letters, numbers & symbols</h6>
                </div>
                <div>
                    <input class="check" type="checkbox" />
                    <label class="check">Show password</label>
                </div>
                <div class="button">
                    <a href="#!Signin" textDecoration="none">Sign in instead</a>
                    <button ng-click="postdata(fullName, email, phone, password, confirmPassword)">Next</button>
                </div>
            </div>
            <div class="image">
                <img src="../../Image/account.svg" width="250px" , height="250px" />
                <h3>One account. All of Google</h3>
                <h3>working for you.</h3>
            </div>
        </div>
        <div class="footercontainer">
            <select class="select">
                <option value="English(United States)">English(United States)</option>
                <option value="English(United Kingdom)">English(United Kingdom)</option>
                <option value="English(Hindi)">Hindi</option>
            </select>
            <div class="footer">
                <a href=" " textDecoration="none" >Help</a>
                <a href=" " textDecoration="none" >Privacy</a>
                <a href=" " textDecoration="none" >Terms</a>
            </div>
        </div>
    </div>
</body>